String Based Practice Questions

Q.1. Write a program to reverse a string.

In [4]:
#Get the sting input from the user and save it in s
s = str(input("Enter a string: "))

#define a function str_reverse which take a single input string
def str_reverse(string):
    reverse = string[: : -1]
    return print(f"Reverse of string: {reverse}")
#call the funtion defined str_reverse and pass on the string s
str_reverse(s)

Enter a string:  happy learning

Reverse of string: gninrael yppah

Q2. Check if a string is a palindrome.

In [8]:
#Get a string from the user and store in s
s= str(input("Enter a string: "))

#define a function str_palindrome which take a single input string
def str_palindrome(string):
    #reverse the string and store it in a variable reverse
    reverse = string[: : -1]
    #check is string and reverse aer same if yes print palindrome else print not palindrome
    if string == reverse:
        return print(f"The string is Palindrome")
    else:
        return print(f"The string is not Palindrome")

    
#call the funtion defined str_palindrome and pass on the string    
str_palindrome(s)

Enter a string:  lalalal

The string is Palindrome

Q3. Convert a string to uppercase.

In [1]:
#Get a string from the user and store in s
s= str(input("Enter a string: "))

#define a function str_upper which take a single input string
def str_upper(string):
    upper =  string.upper()
    return print(f"String in upper case: {upper}")

#call the funtion defined str_upper and pass on the string    
str_upper(s)

Enter a string:  llllsdasdfhk;h hjkhdshuew

String in upper case: LLLLSDASDFHK;H HJKHDSHUEW

Q4. Convert a string to lowercase.

In [2]:
#Get a string from the user and store in s
s= str(input("Enter a string: "))

#define a function str_lower which take a single input string
def str_lower(string):
    lower=  string.lower()
    return print(f"String in lower case: {lower}")

#call the funtion defined str_lower and pass on the string    
str_lower(s)

Enter a string:  JKDHFJHkhdh hjahdfhhHHHJHKUWEUHG

String in lower case: jkdhfjhkhdh hjahdfhhhhhjhkuweuhg

Q5. Count the number of vowels in a string.

In [8]:
#Get a sentence from the user and store in s
s = str(input("Enter a sentence: "))
#Define a function vowel_count which takes the sentence as input
def vowel_count(sentence):
    #convert the sentence into lower case for checking vowels
    c = sentence.lower()
    #define a vowel tuple for checking 
    vowel = ('a', 'e', 'i', 'o', 'u')
    #decleare a counter count for updating if a vowel is found
    count = 0
    #loop througn all the elemnts of the sentence
    for i in range(0,len(c)):
        #if the world is in vowels add one to the counter
        if c[i] in vowel:
            count += 1
        #mover to the next character in the sentence
        i +=1
    #return the total count
    return print(f"The number of vowels in sentence: {count}")

vowel_count(s)

Enter a sentence:  Hi there I am Rahul

The number of vowels in sebtence: 7

Q6. Count the number of consonants in a string.

In [1]:
#Get a sentence from the user and store in s
s = str(input("Enter a sentence: "))
#Define a function consonants_count which takes the sentence as input
def consonants_count(sentence):
    #convert the sentence into lower case for checking vowels
    c = sentence.lower()
    #define a vowel tuple for checking vowels and space
    vowel = ('a', 'e', 'i', 'o', 'u', ' ')
    #decleare a counter count for updating if a vowel is found
    count = 0
    #loop througn all the elemnts of the sentence
    for i in range(0,len(c)):
        #if the world is in vowels and space add one to the counter
        if c[i] in vowel:
            count += 1

    #return the number of consonants by subtracting total lenght of sentence from count
    return print(f"The number of consonants in sentence: {len(c) - count}")

consonants_count(s)

Enter a sentence:  Hi there I am Rahul

The number of consonants in sentence: 8

Q7. Remove all whitespaces from a string.

In [ ]:
#Get a sentence from the user and store in s
s = str(input("Enter a sentence: "))
#Replace the space
print(f"The sentence without space: {s.replace(' ', '')}")

Q8. Find the length of a string without using the `len()` function.

In [5]:
#Get a sentence from the user and store in s
s = str(input("Enter a sentence: "))
count = 0
for i in s:
    count +=1
print(f"The sentence length is: {count}")

Enter a sentence:  Hi there

The sentence length is: 8

Q9. Check if a string contains a specific word.

In [6]:
#Get a sentence from the user and store in s
s = str(input("Enter a sentence: "))
#get the word need to be checked
c = str(input("Enter the specific word: "))

if c.lower() in s.lower():
    print(f"{c} is in the sring")
else:
    print(f"{c} is not in string")

Enter a sentence:  Hi there I am rahul
Enter the specific word:  rahul

rahul is in the sring

Q10. Replace a word in a string with another word.

In [11]:
#Get a sentence from the user and store in s
s = str(input("Enter a sentence: "))
#get the word need to be replaced
c = str(input("Enter the word to replace: "))
r = str(input("Enter the replacement word: "))

print(f"New string: {s.replace(c, r)}")

Enter a sentence:  hi there i am happy
Enter the word to replace:  happy
Enter the replacement word:  quite

New string: hi there i am quite

Q11. Count the occurrences of a word in a string.

In [7]:
#define a function to accept a sentence and the desired word
def word_occur(sent, words):
    count = 0 #set a counter to zero
    sent_list = sent.split() # create a list of the words 
    for word in sent_list: 
        if word == words:
            count += 1
    return count

sentence = input("Enter the sentence: ")
target = input("Enter the word: ")
total_count = word_occur(sentence, target)
print(f"The word '{target}' occured '{total_count}' times")

Enter the sentence:   You cannot create a sentence with because, because, because is a connecting word.
Enter the word:  a

The word 'a' occured '2' times

Q12. Find the first occurrence of a word in a string.

In [23]:
def word_index(sent, words):
    count = sent.find(words) #set a counter to zero
    if count == -1:
        return None
    return count

sentence = input("Enter the sentence: ")
target = input("Enter the word: ")
index = word_index(sentence, target)
print(f"The word '{target}' occured in index '{index}'.")

Enter the sentence:   You cannot create a sentence with because, because, because is a connecting word.
Enter the word:   create

The word ' create' occured in index '11'.

Q13. Find the last occurrence of a word in a string.

In [27]:
def word_index_last(sent, words):
    count = sent.rfind(words) #set a counter to zero
    if count == -1:
        return None
    return count

sentence = input("Enter the sentence: ")
target = input("Enter the word: ")
index = word_index_last(sentence, target)
print(f"The word '{target}' occured in index '{index}'.")

Enter the sentence:   You cannot create a sentence with because, because, because is a connecting word.
Enter the word:  a

The word 'a' occured in index '64'.

Q14. Split a string into a list of words.

In [29]:
def split_string(sent):
    return sent.split()
string = input("Enter the sentence: ")
split_string(string)

Enter the sentence:  You cannot create a sentence with because, because, because is a connecting word

['You',
 'cannot',
 'create',
 'a',
 'sentence',
 'with',
 'because,',
 'because,',
 'because',
 'is',
 'a',
 'connecting',
 'word']

Q15. Join a list of words into a string.

In [50]:
def join_word_list(sent):
    sentence = ' '.join(sent)
    return sentence

word_list = ['p','w','skill']
sentence = join_word_list(word_list)
print(f"Joined string: {sentence}")

Joined string: p w skill

Q16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [1]:
def replace_with_underscore(sentence):
    return sentence.replace(' ', '_')

string = input("Enter the string: ")
print(f"New string: {replace_with_underscore(string)}")

Enter the string:  You cannot create a sentence with because, because, because is a connecting word

New string: You_cannot_create_a_sentence_with_because,_because,_because_is_a_connecting_word

Q17.  Check if a string starts with a specific word or phrase.

In [5]:
def start_string(sentence, word):
    start = sentence.startswith(word)
    if start == True:
        return f"The text starts with the word '{word}'"
    else:
        return f"The text doesnot starts with the word '{word}'"

sent = input("Enter the sentence: ")
word = input("Enter the specific word: ")
start_string(sent, word)

Enter the sentence:  You cannot create a sentence with because, because, because is a connecting word
Enter the specific word:  You

"The text starts with the word 'You'"

Q18. Check if a string ends with a specific word or phrase.

In [6]:
def end_string(sentence, word):
    start = sentence.endswith(word)
    if start == True:
        return f"The text ends with the word '{word}'"
    else:
        return f"The text doesnot ends with the word '{word}'"

sent = input("Enter the sentence: ")
word = input("Enter the specific word: ")
end_string(sent, word)

Enter the sentence:  You cannot create a sentence with because, because, because is a connecting word
Enter the specific word:  word

"The text ends with the word 'word'"

Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [8]:
def convert_titlecase(string):
    titlecase = string.title()
    return f"Title Case: {titlecase}"

sentence = input("Enter the title: ")
convert_titlecase(sentence)

Enter the title:  hello world

'Title Case: Hello World'

20. Find the longest word in a string.

In [3]:
def longest_word(string):
    counter = 0 
    words = string.split()
    for word in words:
        if len(word) > counter:
            counter = len(word)
            long = word
    return long

sentence = input("Enter the sentence: ")
lword = longest_word(sentence)
print(f"The longest word in the sentence is: '{lword}'")

Enter the sentence:  Find the longest word in a string.

The longest word in the sentence is: 'longest'

21. Find the shortest word in a string.

In [5]:
def shortest_word(string):
    counter = int(100000000)
    words = string.split()
    for word in words:
        if len(word) < counter:
            counter = len(word)
            short = word
    return short

sentence = input("Enter the sentence: ")
sword = shortest_word(sentence)
print(f"The shortest word in the sentence is: '{sword}'")

Enter the sentence:  Find the shortest word in a string.

The shortest word in the sentence is: 'a'

Q22. Reverse the order of words in a string.

In [7]:
def reverse_order(string):
    list_word = string.split()
    rev_list = list_word[::-1]
    reverse = ' '.join(rev_list)
    return reverse

sentence = input("Enter the sentence: ")
rword = reverse_order(sentence)
print(f"The setence in reverse order: '{rword}'")

Enter the sentence:  Reverse the order of words in a string

The setence in reverse order: 'string a in words of order the Reverse'

Q23. Check if a string is alphanumeric.

In [9]:
def alpa_numeric(string):
    check =  string.isalnum()
    if check == True:
        return "The string is alphanumeric"
    else:
        return "The string is not alpanumeric"

sentence = input("Enter the sentence: ")
alpa_numeric(sentence)

Enter the sentence:  mrrahul011

'The string is alphanumeric'

Q24. Extract all digits from a string.

In [15]:
def digit_in_string(string):
    digit = '' 
    for char in string:
        if char.isdigit():
            digit += char
    return digit

sentence = input("Enter the sentence: ")
digits = digit_in_string(sentence)
print(f"The digit in string is: '{digits}'")

Enter the sentence:  mrrahul012354

The digit in string is: '012354'

Q25. Extract all alphabets from a string.

In [23]:
def alpha_in_string(string):
    alpha = '' 
    for char in string:
        if char.isalpha():
            alpha += char
    return alpha

sentence = input("Enter the sentence: ")
alphas = alpha_in_string(sentence)
print(f"The alphabets in string is: '{alphas}'")

Enter the sentence:  mrrahul012245

The alphabets in string is: 'mrrahul'

Q26. Count the number of uppercase letters in a string.

In [24]:
def upper_case(string):
    counter = 0
    for char in string:
        if char.isupper():
            counter +=1
    return counter

sentence = input("Enter the sentence: ")
upper = upper_case(sentence)
print(f"The number of uppercase in string is: '{upper}'")

Enter the sentence:  Count the Number of Uppercase Letters in a String.

The number of uppercase in string is: '5'

Q27. Count the number of lowercase letters in a string.

In [25]:
def lower_case(string):
    counter = 0
    for char in string:
        if char.islower():
            counter +=1
    return counter

sentence = input("Enter the sentence: ")
lower = lower_case(sentence)
print(f"The number of lowercase in string is: '{lower}'")

Enter the sentence:  Count the number of lowercase letters in a string.

The number of lowercase in string is: '40'

Q28. Swap the case of each character in a string.

In [26]:
def swap_case(string):
    swap = string.swapcase()
    return swap

sentence = input("Enter the sentence: ")
scase = swap_case(sentence)
print(f"Swap the case of each character: '{scase}'")

Enter the sentence:   Swap the CASE

Swap the case of each character: ' sWAP THE case'

Q29. Remove a specific word from a string.

In [48]:
def remove_word(string, words):
    sent = string.split()
    new_sent = []
    for word in sent:
        if word != words:
            new_sent.append(word)
    new  = ' '.join(new_sent)
    return new
sentence = input("Enter the sentence")
words = input("Enter the word to be removed: ")

new_sents = remove_word(sentence, words)
print(f"New sentence: {new_sents}")

Enter the sentence Remove a specific word from a string.
Enter the word to be removed:  from

New sentence: Remove a specific word a string.

Q30. Check if a string is a valid email address.

In [55]:
import re

def check_email(email):
    check = '^[a-zA-Z0-9+_.-]+@[a-zA-Z.]+[a-zA-Z]$'
    if re.match(check, email):
        return "Valid email id"
    else:
        return "not a valid email id"

email_id = input("Enter the email id: ")
check_email(email_id)

Enter the email id:  mrrahul011@gmail.com

'Valid email id'

Q31. Extract the username from an email address string.

In [56]:
def username(email):
    name = email.split('@')[0]
    return name

email_id = input("Enter the email id: ")
print(f"User Name: {username(email_id)}")

Enter the email id:  mrrahul011@gmail.com

User Name: mrrahul011

Q32. Extract the domain name from an email address string.

In [58]:
def domainname(email):
    name = email.split('@')[1]
    return name

email_id = input("Enter the email id: ")
print(f"Domain Name: {domainname(email_id)}")

Enter the email id:  mrrahul011@gmail.com

Domain Name: gmail.com

Q33. Replace multiple spaces in a string with a single space.

In [60]:
def replace_space(string):
    sente = string.split()
    replaced = ' '.join(sente)
    return replaced
sentence = input("Enter the string: ")
print(f"Replace string: {replace_space(sentence)}")

Enter the string:  Replace     multiple spaces in a string with       a single     space.

Replace string: Replace multiple spaces in a string with a single space.

Q34. Check if a string is a valid URL.

In [82]:
from urllib.parse import urlparse

def web_validat(url):
    web = urlparse(url)
    if web.scheme and web.netloc:
        return "Valid URL"
    else:
        return "Invalid URL"

weburl = input("Enter the URL: ")
web_validat(weburl)

Enter the URL:  https://yellow-musician-smmfs.pwskills.app/lab/tree/work

'Valid URL'

Q35. Extract the protocol (http or https) from a URL string.

In [87]:
def protocol_finder(url):
    urlfinder = url.find('://')
    
    if urlfinder !=-1:
        return url[:urlfinder]
    else:
        return 'Invalid'
url = input("Enter the url: ")
protocol_finder(url)

Enter the url:  //yellow-musician-smmfs.pwskills.app/lab/tree/work

'Invalid'

Q36. Find the frequency of each character in a string.

In [2]:
def count_character(string):
    char_dict = {}
    for char in string:
        if char in char_dict:
            char_dict[char] += 1
        else:
            char_dict[char] = 1
    return char_dict

sentence = input("Enter the string: ")
count_character(sentence)

Enter the string:  hello world

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

Q37. Remove all punctuation from a string.

In [2]:
def remove_punctuation(string):
    l = {'.', '?','"',"'",',', '-', '!', ':', ';', '(', ')', '[', ']', '/'}
    new_list = []
    for char in string:
        if char not in l:
            new_list.append(char)
            
    return new_list

sentence = input("Enter the string: ")
removed = "".join(remove_punctuation(sentence))
print(f"With out punctuation: {removed}")

Enter the string:  Hello, world! How's it going?

With out punctuation: Hello world Hows it going

Q38. Check if a string contains only digits.

In [16]:
def only_digits(input_string):
    if input_string.isdigit():
        return True
    else:
        return False

string = input("Enter the string: ")
print(f"Input contain only digit: {only_digits(string)}")

Enter the string:  123456

Input contain only digit: True

Q39. Check if a string contains only alphabets.

In [17]:
def only_alpha(input_string):
    if input_string.isalpha():
        return True
    else:
        return False

string = input("Enter the string: ")
print(f"Input contain only alphebets: {only_alpha(string)}")

Enter the string:  mrrahul

Input contain only alphebets: True

Q40. Convert a string to a list of characters.

In [20]:
def list_chart(string):
    list_char = []
    for char in string:
        list_char += char
    return list_char
string = input("Enter the string: ")
list_chart(string)

Enter the string:  a string

['a', ' ', 's', 't', 'r', 'i', 'n', 'g']

Q41. Check if two strings are anagrams.

In [26]:
def anagram_check(s1, s2):
    list1 = s1.replace(' ', '')
    list2 = s2.replace(' ', '')
    if sorted(list1.lower()) == sorted(list2.lower()):
        return True
    else:
        return False
string1 = input("Enter string 1:")
string2 = input("Enter sting 2: ")

print(f"The entered string is anagrams: {anagram_check(string1, string2)}")

Enter string 1: hooonman
Enter sting 2:  namnoooh

The entered string is anagrams: True

Q42. Encode a string using a Caesar cipher.

In [59]:
def caesar_encode(string, shift):
    encoded = []
    for char in string:
        if char.isupper():
            encoded.append(chr((ord(char) + shift - 65) %26 + 65))
        elif char.islower():
            encoded.append(chr((ord(char) + shift - 97) %26 + 97))
        else:
            encoded.append(char)
    return ''.join(encoded)
            
sentence = input("Enter the string: ")
digit =int(input("Enter shift digit: "))
print("The encoded message is:")
caesar_encode(sentence, digit)

Enter the string:  Encode a string using a Caesar cipher.
Enter shift digit:  28

The encoded message is:

'Gpeqfg c uvtkpi wukpi c Ecguct ekrjgt.'

Q43. Decode a Caesar cipher encoded string.

In [62]:
def caesar_decode(string, shift):
    decoded = []
    for char in string:
        if char.isupper():
            decoded.append(chr((ord(char) - shift - 65) %26 + 65))
        elif char.islower():
            decoded.append(chr((ord(char) - shift - 97) %26 + 97))
        else:
            decoded.append(char)
    return ''.join(decoded)
            
sentence = input("Enter the string: ")
digit =int(input("Enter shift digit: "))
print("The decoded message is:")
caesar_decode(sentence, digit)

Enter the string:  Gpeqfg c uvtkpi wukpi c Ecguct ekrjgt.
Enter shift digit:  28

The decoded message is:

'Encode a string using a Caesar cipher.'

Q44. Find the most frequent word in a string.

In [87]:
def frequent_word(string):
    string = [char.lower() for char in string.split()]
   
    dic = {}
    for char in string:
        if char not in dic:
            dic[char] = 1
        else:
            dic[char] +=1
    return dic

sentence = input("Enter the sentenc: ")
words = frequent_word(sentence)
max_keys = [key for key, value in words.items() if value == max(words.values())]
max_keys

Enter the sentenc:  Hello world, hello there! How's the world?

['hello']

Q45. Find all unique words in a string.

import re
def unique(string):
    string = re.sub(r'[^\w\s]', '', string)
    unique = set(char.lower() for char in string.split())
    return unique

sentence = input("Enter the sentenc: ")
unique(sentence)

Q46. Count the number of syllables in a string.

In [96]:
def syllables(string):
    syllable = {'a', 'e', 'i','o', 'u'}
    counter = 0
    for char in string:
        if char in syllable:
            counter += 1
    return counter
sentence = input("Enter the sentenc: ")
print("The number of syllables are: ")
syllables(sentence)

Enter the sentenc:  Count the number of syllables in a string.

The number of syllables are:

11

Q47. Check if a string contains any special characters.

In [98]:
def spcl_char(string):
    if string.isalnum():
        return False
    else:
        return True

sentence = input("Enter the sentenc: ") 
print(f"special characters: {spcl_char(sentence)}")

Enter the sentenc:  mrrahul011@gmail.om

special characters: True

Q48. Remove the nth word from a string.

In [32]:
def nth_word(string, n_pos):
    list_w = string.split()
    remov_word = list_w.pop(n_pos - 1)
    new_list = ' '.join(list_w)
    return new_list

sentence = input("Enter the sentenc: ") 
position = int(input("Enter the position: "))
print("New sentence:")
if position <= len(sentence .split()):
    print(f"{nth_word(sentence, position)}")
else: 
    print("Position out of range")

Enter the sentenc:  Remove the nth word from a string.
Enter the position:  8

New sentence:
Position out of range

Q49. Insert a word at the nth position in a string.

In [1]:
def nth_word_insert(string, n_pos, word):
    list_w = string.split()
    remov_word = list_w.insert(n_pos - 1, word)
    new_list = ' '.join(list_w)
    return new_list

sentence = input("Enter the sentenc: ") 
position = int(input("Enter the position: "))
word = input("Enter the word: ") 
print("New sentence:")
if position <= len(sentence .split()):
    print(f"{nth_word_insert(sentence, position, word)}")
else: 
    print("Position out of range")

Enter the sentenc:  Insert a word at the nth position in a string.
Enter the position:  3
Enter the word:  the

New sentence:
Insert a the word at the nth position in a string.

Q50. Convert a CSV string to a list of lists.

In [11]:
def convert_csv(string):
    csv_list = string.split('\\n')
    list_final = []
    for word in csv_list:
        words = word.split(',')
        list_final.append(words)
    return list_final

sentence = input("Enter the sentenc in csv: ")    
print("List of lists from csv: ")
convert_csv(sentence)

Enter the sentenc in csv:   Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK

List of lists from csv:

[[' Name', ' Age', ' Country'],
 ['John', ' 25', ' USA'],
 ['Alice', ' 30', ' Canada'],
 ['Bob', ' 22', ' UK']]

------------------------------------------------------------------------------------------------------------------------------------------------------------------

List Based Practice Problem :

Q1. Create a list with integers from 1 to 10.

In [15]:
#int_list = [1,2,3,4,5,6,7,8,9,10]
int_list = [i for i in range(1, 11)]
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q2. Find the length of a list without using the `len()` function.

In [38]:
def length_list(inp_list):
    counter = 0
    for _ in inp_list:
        counter +=  1
    return counter

input_list = list(input("Enter the list: "))
print(f"Length of list: {length_list(input_list)}")
print(f"Length of list using len function: {len(input_list)}")

Enter the list:  1 2 3 4 5 67

Length of list: 13
Length of list using len function: 13

Q3. Append an element to the end of a list.

In [49]:
input_list = list(input("Enter the list: "))
new_element = input("Enter the new element")
input_list.append(new_element)
print(f"New list: {input_list}")

Enter the list:  123456789
Enter the new element pwSkills

New list: ['1', '2', '3', '4', '5', '6', '7', '8', '9', 'pwSkills']

Q4. Insert an element at a specific index in a list.

In [55]:
input_list = list(input("Enter the list: "))
index = int(input("Enter the index for new element: "))
if index <= len(input_list):
    new_element = input('Enter the new element: ')
    input_list.insert(index - 1, new_element)
    print(f'New list: {input_list}')
else:
    print("Position out of range")

Enter the list:  1234567890
Enter the index for new element:  5
Enter the new element:  pwSkill

New list: ['1', '2', '3', '4', 'pwSkill', '5', '6', '7', '8', '9', '0']

Q5. Remove an element from a list by its value.

In [57]:
input_list = list(input("Enter the list: "))
value = input("Enter the value to remove: ")

if value in input_list:
    input_list.remove(value)
    print(f'New list: {input_list}')
else:
    print("Invalid entry")

Enter the list:  123456789
Enter the value to remove:  10

Invalid entry

Q6. Remove an element from a list by its index.

In [5]:
input_list = list(input("Enter the list: "))
index = int(input("Enter the index: "))

if index <= len(input_list):
    removed_element = input_list.pop(index -1)
    print(f"New list: {input_list}")
else:
    print("Position out of range")

Enter the list:  123456789
Enter the index:  5

New list: ['1', '2', '3', '4', '6', '7', '8', '9']

Q7. Check if an element exists in a list.

In [8]:
input_list = list(input("Enter the list: "))
element = input("Enter the element: ")

if element in input_list:
    print("Element is in the list")
else:
    print("Elemet is not in the list")

Enter the list:  123456789
Enter the element:  9

Element is in the list

Q8. Find the index of the first occurrence of an element in a list.

In [11]:
input_list = list(input("Enter the list: "))
element = input("Enter the element: ")

if element in input_list:
    print(f"The index of element is: {input_list.index(element)}")
else:
    print("Element not in the list")

Enter the list:  123456789
Enter the element:  5

The index of element is: 4

Q9. Count the occurrences of an element in a list.

In [12]:
input_list = list(input("Enter the list: "))
element = input("Enter the element: ")

if element in input_list:
    print(f"The count of element is: {input_list.count(element)}")
else:
    print("Element not in the list")

Enter the list:  123456512647
Enter the element:  5

The count of element is: 2

Q10. Reverse the order of elements in a list.

In [15]:
input_list = list(input("Enter the list: "))
print(f"Reverse of list: {input_list[::-1]}")

Enter the list:  123456789

Reverse of list: ['9', '8', '7', '6', '5', '4', '3', '2', '1']

Q11. Sort a list in ascending order.

In [4]:
input_list = list(input("Enter the list: "))
new_list= []
for i in input_list:
    new_list.append(int(i))
new_list.sort()
print("Sorted list: ")
new_list

Enter the list:  123456789521

Sorted list:

[1, 1, 2, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [ ]:
Q12. Sort a list in descending order.

In [5]:
input_list = list(input("Enter the list: "))
new_list= []
for i in input_list:
    new_list.append(int(i))
new_list.sort(reverse = True)
print("Sorted list: ")
new_list

Enter the list:  123852147951

Sorted list:

[9, 8, 7, 5, 5, 4, 3, 2, 2, 1, 1, 1]

Q13. Create a list of even numbers from 1 to 20.

In [6]:
even_list = [i for i in range(2, 21, 2)]
print(f"LIst of even number: {even_list}")

LIst of even number: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q14. Create a list of odd numbers from 1 to 20.

In [7]:
odd_list = [i for i in range(1, 21, 2)]
print(f"LIst of even number: {odd_list}")

LIst of even number: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q15. Find the sum of all elements in a list.

In [14]:
input_list = [1, 3, 5]
list_sum = sum(input_list)
print(f"The sum of list: {list_sum}")

The sum of list: 9

Q16. Find the maximum value in a list.

In [15]:
input_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
list_max = max(input_list)
print(f"The maximun value in list: {list_max}")

The maximun value in list: 19

Q17. Find the minimum value in a list.

In [16]:
input_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
list_min = min(input_list)
print(f"The minimun value in list: {list_min}")

The minimun value in list: 1

Q18. Create a list of squares of numbers from 1 to 10.

In [18]:
list_square = [x**2 for x in range(1,11)]
print(f"List of squares from 1 to 10: {list_square}")

List of squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q19. Create a list of random numbers.

In [20]:
import random
rand_list = [random.randint(1,1000) for _ in range(0,10)]
print(f"List of random integer: {rand_list}")

List of random integer: [198, 241, 192, 791, 346, 960, 225, 643, 926, 956]

Q20. Remove duplicates from a list.

In [24]:
input_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 3, 5, 7, 9, 11, 3, 5, 7, 9, 11, 3, 5, 7, 9, 11, ]
new_list = set(input_list)
print(f"List with out duplicate: {new_list}")

List with out duplicate: {1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

Q21. Find the common elements between two lists.

In [ ]:
list1 = [1,2,3,4,5,6,6,5,8,9]
list2 = [9,8,5,6,4,7,2,3]

common_list= [i for i in set(list1) if i in set(list2)]
common_list

[2, 3, 4, 5, 6, 8, 9]

Q22. Find the difference between two lists.

In [28]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

diff_list = [i for i in list1 if i not in list2]
diff_list

[10, 20]

Q23. Merge two lists.

In [29]:
list1 = [1,2,3,4,5,6,6,5,8,9]
list2 = [9,8,5,6,4,7,2,3]

merge_list = list1 + list2
merge_list

[1, 2, 3, 4, 5, 6, 6, 5, 8, 9, 9, 8, 5, 6, 4, 7, 2, 3]

Q24. Multiply all elements in a list by 2.

In [30]:
list1 = [1,2,3,4,5,6,6,5,8,9]
list_new = list1 * 2
print("List multiplied by 2:")
list_new

List multiplied by 2:

[1, 2, 3, 4, 5, 6, 6, 5, 8, 9, 1, 2, 3, 4, 5, 6, 6, 5, 8, 9]

Q25. Filter out all even numbers from a list.

In [31]:
list1 = [1,2,3,4,5,6,6,5,8,9]
list_even = [i for i in list1 if i % 2 == 0]
print("List of even numbers:")
list_even

List of even numbers:

[2, 4, 6, 6, 8]

Q26. Convert a list of strings to a list of integers.

In [33]:
str_list1 = ['1', '2', '3', '152', '20']

int_list = [int(i) for i in str_list1]
print("Integer list:")
int_list

Integer list:

[1, 2, 3, 152, 20]

Q27. Convert a list of integers to a list of strings.

In [34]:
int_list1 = [1,2,3,4,5,6,6,5,8,9]

str_list = [str(i) for i in int_list1]
print("String list:")
str_list

String list:

['1', '2', '3', '4', '5', '6', '6', '5', '8', '9']

Q28. Flatten a nested list.

In [37]:
list1 = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
n = []
for i in list1:
    if type(i) == list:
        for j in i:
            n.append(j)
    else:
        n.append(i)
n

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Q29. Create a list of the first 10 Fibonacci numbers.

In [1]:
def fibonacci(n):
    fib_list = [0, 1]
    
    for i in range(2, n):
        new = fib_list[i -1] + fib_list[i-2]
        fib_list.append(new)
    return fib_list
print("List of first 10 fibonacci seires: ")
fibonacci(10)

List of first 10 fibonacci seires:

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Q30. Check if a list is sorted.

In [5]:
list1 = [1,2,3,4,5,6,7,8,9]
counter = 0
for i in range(1,len(list1)):
    if list1[i] < list1[i-1]:
        counter += 1
if counter > 0:
    print("List is not sorted")
else:
    print("List is sorted")

List is sorted

Q31. Rotate a list to the left by n positions.

In [6]:
list1 = [1,2,3,4,5,6,7,8,9]
n_pos = int(input("Enter the position to rotate the list: "))

n = n_pos % len(list1) 

newlist = list1[n:] + list1[:n]

print("rotated list:", newlist)

Enter the position to rotate the list:  3

rotated list: [4, 5, 6, 7, 8, 9, 1, 2, 3]

Q32. Rotate a list to the right by n positions.

In [8]:
list1 = [1,2,3,4,5,6,7,8,9]
n_pos = int(input("Enter the position to rotate the list: "))

n = n_pos % len(list1) 

newlist = list1[-n:] + list1[:-n]

print("rotated list:", newlist)

Enter the position to rotate the list:  3

rotated list: [7, 8, 9, 1, 2, 3, 4, 5, 6]

Q33. Create a list of prime numbers up to 50.

In [42]:
prime_list = []
for i in range(1,51):  
        for num in range(2, i):
            if (i % num) == 0:
                break
        else:
            prime_list.append(i)
           

print("List of prime number up to 50: ", (prime_list))

List of prime number up to 50:  [1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Q34. Split a list into chunks of size `n`.

In [50]:
list1 =[1,2,3,4,5,6,7,8,9]
n = int(input("Enter the number of chunks :"))
chunk = []
for i in range(0, len(list1), n):
    chunks= list1[i:i + n]
    chunk.append(chunks)
chunk

Enter the number of chunks : 2

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

Q35. Find the second largest number in a list.

In [58]:
list1 =[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
sorted_list= sorted(list1)
print("Second largest number in list:", sorted_list[len(list1)-2])

Second largest number in list: 43

Q36. Replace every element in a list with its square.

In [59]:
list1 =[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
sqr_list = [x*x for x in list1]
print("Square of list:", sqr_list)

Square of list: [1, 4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

Q37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [2]:
list1 =[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

new_dic = {key: value for value, key in enumerate(list1)}
print("Dictionary of list: ", new_dic)

Dictionary of list:  {1: 0, 2: 1, 3: 2, 5: 3, 7: 4, 11: 5, 13: 6, 17: 7, 19: 8, 23: 9, 29: 10, 31: 11, 37: 12, 41: 13, 43: 14, 47: 15}

Q38. Shuffle the elements of a list randomly.

In [4]:
import random

list1 =[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
random.shuffle(list1)
print("shuffled list: ", list1 )

shuffled list:  [37, 43, 7, 23, 5, 19, 47, 11, 1, 17, 2, 13, 3, 31, 41, 29]

Q39. Create a list of the first 10 factorial numbers.

In [7]:
def factorial(n):
    
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
fact_list = [factorial(x) for x in range(10)]
print("List of first 10 number: ", fact_list)

List of first 10 number:  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [6]:
fact_list

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Q40. Check if two lists have at least one element in common.

In [10]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

common_list = [item for item in list1 if item in list2]
if len(common_list) > 0:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

Q41. Remove all elements from a list.

In [11]:
list1 = [10, 20, 30, 40, 50]
list1.clear()
print("Empty list: ", list1)

Empty list:  []

Q42. Replace negative numbers in a list with 0.

In [14]:
list1 = [10, 20, -30, 40, -50]

for i in range(0, len(list1)):
    if list1[i] < 0:
        list1[i] = 0
print("Replaced list: ", list1)

Replaced list:  [10, 20, 0, 40, 0]

Q43. Convert a string into a list of words.

In [15]:
string = input("Enter the string: ")

print("List of words: ", string.split())

Enter the string:  Hello there, I am world

List of words:  ['Hello', 'there,', 'I', 'am', 'world']

Q44. Convert a list of words into a string.

In [22]:
word = ['Hello', 'there,', 'I', 'am', 'world']
string = " ".join(word)
print("String: ", string)

String:  Hello there, I am world

Q45. Create a list of the first n powers of 2.

In [24]:
n = int(input("Enter the value of n: "))

power_2list = [2**x for x in range(n)]

print("list of the first n power of 2:" , power_2list)

Enter the value of n:  5

list of the first n power of 2: [1, 2, 4, 8, 16]

Q46. Find the longest string in a list of strings.

In [25]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

long_string = ""

for string in string_list:
    if len(string) > len(long_string):
        long_string = string
print("Longest string from list: ", long_string)

Longest string from list:  elderberry

Q47. Find the shortest string in a list of strings.

In [27]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

short_string = string_list[0]

for string in string_list:
    if len(string) < len(short_string):
        short_string = string
print("Shortest string from list: ", short_string)

Shortest string from list:  date

Q48. Create a list of the first n triangular numbers.

In [28]:
n = int(input("Enter the value of n: "))
trian_num = [x *  (x+1) //2 for x in range(1, n+1)]

print("List of triangular number: ", trian_num)

Enter the value of n:  6

List of triangular number:  [1, 3, 6, 10, 15, 21]

Q49. Check if a list contains another list as a subsequence.

In [29]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [3, 5, 8]

common_list = [x for x in list1 if x in list2]
if len(common_list) > 0:
    print("The lists have subsequence list elements.")
else:
    print("The lists do not have  subsequence list elements.")

The lists have subsequence list elements.

Q50. Swap two elements in a list by their indices.

In [32]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

index1 = int(input("Enter element index: "))
index2 = int(input("Enter element index to swap: "))

temp = list1[index1]
list1[index1] = list1[index2]
list1[index2] = temp

print("The swapped list: ", list1)

Enter element index:  5
Enter element index to swap:  1

The swapped list:  [1, 6, 3, 4, 5, 2, 7, 8, 9, 10]

.

Tuple based practice problem :

1. Create a tuple with integers from 1 to 5.

In [3]:
int_tuple = (x for x in range(1, 6))
print("tuple with integers from 1 to 5")
tuple(int_tuple)

tuple with integers from 1 to 5

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [5]:
int_tuple = (x for x in range(1, 6))
print("Third element of tuple: ")
tuple(int_tuple)[2]

Third element of tuple:

3

3. Find the length of a tuple without using the `len()` function.

In [8]:
int_tuple = tuple(x for x in range(1, 6))
print("Length of tuple: ")
counter = 0
for i in int_tuple:
    counter += 1 
counter

Length of tuple:

5

4. Count the occurrences of an element in a tuple.

In [1]:
int_tuple = (10, 20, 30, 20, 40, 10, 50, 20, 10)
element = 10

counter = 0
print("Occurrenece of element in tuple: ")
for i in int_tuple:
    if i == element:
        counter += 1
counter

Occurrenece of element in tuple:

3

5. Find the index of the first occurrence of an element in a tuple.

In [6]:
int_tuple = (10, 20, 30, 20, 40, 10, 50, 20, 10)
element = 30
counter = 0
for i in range(0,len(int_tuple)):
    if int_tuple[i] == element:
        counter = i
        break
print("Index of the first occurrence of an element: ")  
counter

Index of the first occurrence of an element:

2

6. Check if an element exists in a tuple.

In [11]:
int_tuple = (10, 20, 30, 20, 40, 10, 50, 20, 10)
element = 30
counter = 1
for i in int_tuple:
    if i == element:
        counter += 1

if counter > 1:
    print("Element exists in a tuple")
else:
    print(f"Element doesnot exists in a tuple: ")

Element exists in a tuple

7. Convert a tuple to a list.

In [12]:
int_tuple = (10, 20, 30, 20, 40, 10, 50, 20, 10)
print("List: ", list(int_tuple))

List:  [10, 20, 30, 20, 40, 10, 50, 20, 10]

8. Convert a list to a tuple.

In [14]:
int_tuple = [10, 20, 30, 20, 40, 10, 50, 20, 10]
print("Tuple: ", tuple(int_tuple))

Tuple:  (10, 20, 30, 20, 40, 10, 50, 20, 10)

9. Unpack the elements of a tuple into variables.

In [5]:
int_tuple = [10, 20, 30, 20]
el1, el2, el3, el4 = int_tuple
print(f"elements in variable: el1= {el1}, el2= {el2}, el3= {el3}, el4= {el4}")

elements in variable: el1= 10, el2= 20, el3= 30, el4= 20

10. Create a tuple of even numbers from 1 to 10.

In [8]:
even_num = [i for i in range(1, 11) if i %2 ==0]
print("Tuple of even numbers from 1 to 10:" , tuple(even_num))

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [1]:
odd_num = [i for i in range(1, 11) if i %2 !=0]
print("Tuple of odd numbers from 1 to 10:" , tuple(odd_num))

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [2]:
t1 = (2, 4, 6, 8, 10)
t2 = (1, 3, 5, 7, 9)
t1 + t2

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [3]:
t1 = (2, 4, 6, 8, 10)
print("Tuple repeated three times: ")
t1 * 3

Tuple repeated three times:

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

14. Check if a tuple is empty.

In [7]:
t1 = ()
if t1:
    print("Non Empty")
else:
    print("Empty")

Empty

15. Create a nested tuple.

In [8]:
t1 = (2, 4, 6, 8, 10)
t2 = (1, 3, 5, 7, 9)
t_nested = (t1, t2)
print("Nestd tuple: ", t_nested)

Nestd tuple:  ((2, 4, 6, 8, 10), (1, 3, 5, 7, 9))

16. Access the first element of a nested tuple.

In [9]:
t1 = (2, 4, 6, 8, 10)
t2 = (1, 3, 5, 7, 9)
t_nested = (t1, t2)
print("First element of Nestd tuple: ", t_nested[0])

First element of Nestd tuple:  (2, 4, 6, 8, 10)

17. Create a tuple with a single element.

In [14]:
t1 = (2,)
type(t1)

tuple

18. Compare two tuples.

In [16]:
t1 = (2, 4, 6, 8, 10)
t2 = (1, 3, 5, 7, 9)

print("t1 == t2:", t1 == t2)  
print("t1 != t2:", t1 != t2)  
print("t1 < t2:", t1 < t2)    
print("t1 <= t2:", t1 <= t2) 
print("t1 > t2:", t1 > t2)    
print("t1 >= t2:", t1 >= t2)

t1 == t2: False
t1 != t2: True
t1 < t2: False
t1 <= t2: False
t1 > t2: True
t1 >= t2: True

19. Delete a tuple.

In [19]:
t1 = (2, 4, 6, 8, 10)
del(t1)

20. Slice a tuple.

In [24]:
t1 = (2, 4, 6, 8, 10)
n = 2
t_new1 = t1[:n]
t_new2 = t1[n:]

print("Slice 1: ",t_new1)
print("Slice 2: ",t_new2)

Slice 1:  (2, 4)
Slice 2:  (6, 8, 10)

21. Find the maximum value in a tuple.

In [25]:
t1 = (2, 4, 6, 8, 10)
print("Maximum valur in tuple: ", max(t1))

Maximum valur in tuple:  10

22. Find the minimum value in a tuple.

In [26]:
t1 = (2, 4, 6, 8, 10)
print("Minimum valur in tuple: ", min(t1))

Minimum valur in tuple:  2

23. Convert a string to a tuple of characters.

In [27]:
string = "Hello world!"
tuple_string = tuple(string)
tuple_string

('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [29]:
string = "Hello world!"
tuple_string = tuple(string)
print("tuple of characters : ", tuple_string)
print("tuple: ", ''.join(tuple_string))

tuple of characters :  ('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!')
tuple:  Hello world!

25. Create a tuple from multiple data types.

In [30]:
tuple_multi = (1, "rahul", 3.28)

26. Check if two tuples are identical.

In [31]:
t1 = (2, 4, 6, 8, 10)
t2 = (1, 3, 5, 7, 9)
if t1 == t2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are not identical

27. Sort the elements of a tuple.

In [32]:
t1 = (10,9,23,56,2,1,4,7,9)
print("sorted tuple: ", sorted(t1))

sorted tuple:  [1, 2, 4, 7, 9, 9, 10, 23, 56]

28. Convert a tuple of integers to a tuple of strings.

In [34]:
t1 = (10,9,23,56,2,1,4,7,9)
t2 = tuple(str(i) for i in t1)
print("tuple of integers to a tuple of strings: ", t2)

tuple of integers to a tuple of strings:  ('10', '9', '23', '56', '2', '1', '4', '7', '9')

29. Convert a tuple of strings to a tuple of integers.

In [35]:
t1 = ('10', '9', '23', '56', '2', '1', '4', '7', '9')
t2 = tuple(int(i) for i in t1)
print("tuple of strings to a tuple of integers: ", t2)

tuple of strings to a tuple of integers:  (10, 9, 23, 56, 2, 1, 4, 7, 9)

30. Merge two tuples.

In [37]:
t1 = (10,9,23,56,2,1,4,7,9)
t2 = ('10', '9', '23', '56', '2', '1', '4', '7', '9')
merged = t1 + t2
print("Merged tuple: ", merged)

Merged tuple:  (10, 9, 23, 56, 2, 1, 4, 7, 9, '10', '9', '23', '56', '2', '1', '4', '7', '9')

31. Flatten a nested tuple.

In [41]:
t1 = (10,9,23,56,2,1,4,7,9)
t2 = ('10', '9', '23', '56', '2', '1', '4', '7', '9')
merged = t1 + t2
flatten= []
for item in merged:
    flatten.append(item)
print("The flattened tuple: ", tuple(flatten))

The flattened tuple:  (10, 9, 23, 56, 2, 1, 4, 7, 9, '10', '9', '23', '56', '2', '1', '4', '7', '9')

32. Create a tuple of the first 5 prime numbers.

In [46]:
prime_list = []
for i in range(1,20):  
        for num in range(2, i):
            if (i % num) == 0:
                break
        else:
            prime_list.append(i)
           

print("List of prime number up to 50: ", tuple(prime_list[:5]))

List of prime number up to 50:  (1, 2, 3, 5, 7)

33. Check if a tuple is a palindrome.

33. Check if a tuple is a palindrome.

In [52]:
t1 = (10,9,23,56,2,1,4,7,9)
t1_rev = t1[::-1]
if t1 == t1_rev:
    print("The tuple is palindrome")
else:
    print("The tuple is not palindrome")

The tuple is not palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [55]:

t1_sqr = tuple(x*x for x in range(1,6))
t1_sqr

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [60]:
t1 = (10,9,23,56,2,1,4,7,9)
t1_filter = tuple(x for x in t1 if x%2 != 0)
t1_filter

(9, 23, 1, 7, 9)

36. Multiply all elements in a tuple by 2.

In [62]:
t1 = (10,9,23,56,2,1,4,7,9)
t2 = tuple(x*2 for x in t1)
print("Multiply all elements in a tuple by 2: ", t2)

Multiply all elements in a tuple by 2:  (20, 18, 46, 112, 4, 2, 8, 14, 18)

37. Create a tuple of random numbers.

In [67]:
import random
t1 = tuple(random.randint(1, 100) for _ in range(5))
t1

(63, 89, 46, 77, 95)

38. Check if a tuple is sorted.

In [68]:
t1 = (10,9,23,56,2,1,4,7,9)
counter = 0
for i in range(1, len(t1)):
    if t1[i] > t1[i-1]:
        counter += 1
if counter > 1:
    print("Tuple is not sorted")
else:
    print("Tuple is sorted")

Tuple is not sorted

39. Rotate a tuple to the left by n positions.

In [69]:
t1 = (10,9,23,56,2,1,4,7,9)
n = 3
rotated_tuple = t1[n:] + t1[:n]
print("Rotated tuple: ", tuple(rotated_tuple))

Rotated tuple:  (56, 2, 1, 4, 7, 9, 10, 9, 23)

40. Rotate a tuple to the right by n positions.

In [70]:
t1 = (10,9,23,56,2,1,4,7,9)
n = 3
rotated_tuple = t1[-n:] + t1[:-n]
print("Rotated tuple: ", tuple(rotated_tuple))

Rotated tuple:  (4, 7, 9, 10, 9, 23, 56, 2, 1)

41. Create a tuple of the first 5 Fibonacci numbers.

In [72]:
def fibonacci(n):
    fib_list = [0, 1]
    
    for i in range(2, n):
        new = fib_list[i -1] + fib_list[i-2]
        fib_list.append(new)
    return tuple(fib_list)
print("Tuple of first 10 fibonacci seires: ")
fibonacci(5)

Tuple of first 10 fibonacci seires:

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [74]:
input_tuple = input("Enter elements separated by commas:")
tuple1 = input_tuple.split(',')
print("Tuple: ", tuple(tuple1))

Enter elements separated by commas: 2,5,7,8,2,4,l,f,f

Tuple:  ('2', '5', '7', '8', '2', '4', 'l', 'f', 'f')

43. Swap two elements in a tuple.

In [80]:
t1 = (4, 7, 9, 10, 9, 23, 56, 2, 1)
index1 = 2
index2 = 5
t2 = list(t1)
temp = t2[index1]
t2[index1] = t2[index2]
t2[index2] = temp

tuple(t2)

(4, 7, 23, 10, 9, 9, 56, 2, 1)

44. Reverse the elements of a tuple.

In [83]:
t1 = (4, 7, 9, 10, 9, 23, 56, 2, 1)
t2 = t1[::-1]
t2

(1, 2, 56, 23, 9, 10, 9, 7, 4)

45. Create a tuple of the first n powers of 2.

In [85]:
n = int(input("Enter the n: "))
t1 = tuple(x ** 2 for x in range(1, n+1) )
t1

Enter the n:  5

(1, 4, 9, 16, 25)

46. Find the longest string in a tuple of strings.

In [92]:
t1 =  ("apple", "banana", "grape", "kiwi", "watermelon")

t2 = list(t1)
long = ''
for i in t2:
    if len(i) > len(long):
        long = i
    
print("Longest strig in a tuple: ", long)

Longest strig in a tuple:  watermelon

47. Find the shortest string in a tuple of strings.

In [93]:
t1 =  ("apple", "banana", "grape", "kiwi", "watermelon")

t2 = list(t1)
short = ''
for i in t2:
    if len(i) < len(long):
        short = i
    
print("Shortest strig in a tuple: ", short)

Shortest strig in a tuple:  kiwi

48. Create a tuple of the first n triangular numbers.

In [94]:
n = int(input("Enter the number: "))
t1 = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
t1

Enter the number:  6

(1, 3, 6, 10, 15, 21)

49. Check if a tuple contains another tuple as a subsequence.

In [97]:
t1 = (10,9,23,56,2,1,4,7,9)
t2 = (1,4,7,9)

common_list = [x for x in t1 if x in t2]
if len(common_list) > 0:
    print("The tuple have subsequence tuple elements.")
else:
    print("The tuple do not have  subsequence tuple elements.")

The tuple have subsequence tuple elements.

50. Create a tuple of alternating 1s and 0s of length n.

In [98]:
n = int(input("Enter the number: "))

t1 = tuple(x%2 for x in range(1,n+1))
t1

Enter the number:  5

(1, 0, 1, 0, 1)

Set based problems:

1. Create a set with integers from 1 to 5.

In [100]:
s1 = {x for x in range(1,6)}
s1

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [101]:
s1.add(100)
s1

{1, 2, 3, 4, 5, 100}

3. Remove an element from a set.

In [102]:
s1.remove(5)
s1

{1, 2, 3, 4, 100}

4. Check if an element exists in a set.

In [104]:
element = 100
if element in s1:
    print("Element exists in set")
else:
    print("Element doesn't exists in set")

Element exists in set

5. Find the length of a set without using the len() function

In [110]:
counter = 0
for i in s1:
    counter += 1
print("Length of set= ", counter)

Length of set=  5

6. Clear all elements from a set.

In [112]:
s1.clear()
s1

set()

7. Create a set of even numbers from 1 to 10

In [115]:
s1 = {i for i in range(1,11) if i % 2 == 0}
s1

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [116]:
s1 = {i for i in range(1,11) if i % 2 != 0}
s1

{1, 3, 5, 7, 9}

9. Find the union of two sets

In [117]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9}
s_union = s1.union(s2)
s_union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets

In [119]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9, 10}
s_intersection = s1.intersection(s2)
s_intersection

{10}

11. Find the difference between two sets.

In [120]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9, 10}
s_difference = s1.difference(s2)
s_difference

{2, 4, 6, 8}

12. Check if a set is a subset of another set.

In [121]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9, 10}
s_subset = s1.issubset(s2)
s_subset

False

13. Check if a set is a superset of another set.

In [123]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9, 10}
s_superset = s1.issuperset(s2)
s_superset

False

14. Create a set from a list

In [124]:
l1 = [2, 4, 6, 8, 10, 10, 6, 8]
s1 =set(l1)
s1

{2, 4, 6, 8, 10}

15. Convert a set to a list.

In [125]:
s1 ={2, 4, 6, 8, 10}
l1 = list(s1)
l1

[2, 4, 6, 8, 10]

16. Remove a random element from a set.

In [141]:
import random
s1 = {2, 4, 6, 8, 10}
rand_ele = random.choice(list(s1))
print("Random element to be removed: ", rand_ele)
s1.remove(rand_ele)
s1

Random element to be removed:  6

{2, 4, 8, 10}

17. Pop an element from a set.

In [142]:
s1 = {2, 4, 6, 8, 10}
s1.pop()
s1

{4, 6, 8, 10}

18. Check if two sets have no elements in common.

In [145]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

s_intersection = set1.intersection(set2)
if s_intersection:
    print("Common element exit")
else:
    print("No common element")

No common element

19. Find the symmetric difference between two sets.

In [152]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

sym_diff = set1 ^ set2
print("Symmetric difference: ", sym_diff)

Symmetric difference:  {1, 2, 3, 4, 5, 6, 7, 8}

20. Update a set with elements from another set.

In [154]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9, 10}
s1.update(s2)
print("Updated set: ", s1)

Updated set:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

21. Create a set of the first 5 prime numbers.

In [156]:
prime_list = []
for i in range(1,50):  
        for num in range(2, i):
            if (i % num) == 0:
                break
        else:
            prime_list.append(i)
           

print("Set of first 5 prime number: ", set(prime_list[:5]))

Set of first 5 prime number:  {1, 2, 3, 5, 7}

22. Check if two sets are identical.

In [157]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9, 10}
if s1 == s2:
    print("identical set")
else:
    print("Not identical set")

Not identical set

23. Create a frozen set

In [158]:
s1 = {2, 4, 6, 8, 10}
frozenset(s1)

frozenset({2, 4, 6, 8, 10})

24. Check if a set is disjoint with another set.

In [160]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9, 10}
dis_joint = s1.isdisjoint(s2)

print("Disjoint set: ", dis_joint)

Disjoint set:  False

25. Create a set of squares of numbers from 1 to 5.

In [161]:
s1 = {i*i for i in range(1,6)}
s1

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [163]:
s1 = {2, 4, 6, 8, 10}
s1_even = {i for i in s1 if i % 2 == 0}
s1_even

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [165]:
s1 = {2, 4, 6, 8, 10}
s1_mult = {i*2 for i in s1}
s1_mult

{4, 8, 12, 16, 20}

28. Create a set of random numbers.

In [172]:
import random

s1 ={random.randint(1,100) for i in range(1,10)}
s1

{15, 31, 49, 50, 51, 54, 75, 76, 88}

29. Check if a set is empty.

In [177]:
s1 = {15, 31, 49, 50, 51, 54, 75, 76, 88}

if len(s1) > 0:
    print("Set not empty")
else:
    print("Set is empty")

Set not empty

30. Create a nested set (hint: use frozenset).

In [181]:
s1 = frozenset({2, 4, 6, 8, 10})
s2 = frozenset({15, 31, 49, 50, 51, 54, 75, 76, 88})
nested_set = {s1, s2}
nested_set

{frozenset({2, 4, 6, 8, 10}), frozenset({15, 31, 49, 50, 51, 54, 75, 76, 88})}

31. Remove an element from a set using the discard method.

In [182]:
s1 = {15, 31, 49, 50, 51, 54, 75, 76, 88}
element = 50
s1.discard(element)
s1

{15, 31, 49, 51, 54, 75, 76, 88}

32. Compare two sets.

In [184]:
s1 = {15, 31, 49, 50, 51, 54, 75, 76, 88}
s2 = {2, 4, 6, 8, 10}
subset = s1.issubset(s2)


superset = s1.issuperset(s2)

intersection = s1.intersection(s2)


union = s1.union(s2)


difference = s1.difference(s2)

print("Set 1:", s1)
print("Set 2:", s2)
print("Is set1 a subset of set2?", subset)
print("Is set2 a subset of set1?", superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference)

Set 1: {75, 76, 15, 49, 50, 51, 54, 88, 31}
Set 2: {2, 4, 6, 8, 10}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: set()
Union: {2, 4, 6, 8, 10, 75, 76, 15, 49, 50, 51, 54, 88, 31}
Elements in set1 but not in set2: {75, 76, 15, 49, 50, 51, 54, 88, 31}

33. Create a set from a string.

In [185]:
string = "Hello World!"
char_set = set(string)
char_set

{' ', '!', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

34. Convert a set of strings to a set of integers.

In [186]:
s1 = {"156", "148", "0", "25"}
s2 = {int(i) for i in s1}
s2

{0, 25, 148, 156}

35. Convert a set of integers to a set of strings.

In [187]:
s1 = {0, 25, 148, 156}
s2 = {str(i) for i in s1}
s2

{'0', '148', '156', '25'}

36. Create a set from a tuple.

In [189]:
t1 = (1,2,4,5,8,42,6,46,2,8,93,2,4)
s1 = set(t1)
s1

{1, 2, 4, 5, 6, 8, 42, 46, 93}

37. Convert a set to a tuple.

In [190]:
s1 = {1, 2, 4, 5, 6, 8, 42, 46, 93}
t1 =tuple(s1)
t1

(1, 2, 4, 5, 6, 8, 42, 46, 93)

38. Find the maximum value in a set.

In [191]:
s1 = {1, 2, 4, 5, 6, 8, 42, 46, 93}
max_val = 0
for i in s1:
    if i > max_val:
        max_val = i
print("Maximum value in set: ", max_val)

Maximum value in set:  93

39. Find the minimum value in a set.

In [194]:
s1 = {1, 2, 4, 5, 6, 8, 42, 46, 93}
min_val = 1
for i in s1:
    if i < min_val:
        min_val = i
print("Minimum value in set: ", min_val)

Minimum value in set:  1

40. Create a set from user input.

In [195]:
s1 = input("enter the set elements: ")
set(s1)

enter the set elements:  1,2,3,4,5,8,2,1,52,5

{',', '1', '2', '3', '4', '5', '8'}

41. Check if the intersection of two sets is empty.

In [199]:
s1 = {2, 31, 49, 50, 51, 54, 75, 76, 88}
s2 = {2, 4, 6, 8, 10}
s = s1.intersection(s2)
if len(s) < 1:
    print("Empty set")
else:
    print("Non empty set")

Non empty set

42. Create a set of the first 5 Fibonacci numbers.

In [201]:
x = 0
y = 1
f_set = set()
for i in range(6):
    f_set.add(x)
    x,y = y, y+x
    
print(" set of the first 5 Fibonacci numbers:", f_set)

 set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [203]:
s1 = {2, 31, 49, 50, 51, 54, 75, 76, 88, 2, 49, 51, 54,}
l_uniq = set(s1)
list(l_uniq)

[2, 75, 76, 49, 50, 51, 54, 88, 31]

44. Check if two sets have the same elements, regardless of their count.

In [204]:
s1 = {2, 31, 49, 50, 51, 54, 75, 76, 88, 2, 49, 51, 54,}
s2 = {2, 4, 6, 8, 10}
print("two sets have the same elements: ", s1 == s2)

two sets have the same elements False

45. Create a set of the first n powers of 2

In [205]:
n = int(input("Enter the number: "))

s1 = {2**i for i in range(n)}
s1

Enter the number:  5

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [209]:
s1 = {2, 31, 49, 50, 51, 54, 75, 76, 88, 2, 49, 51, 54,}
s2 = [2, 4, 6, 8, 10]
common = s1.intersection(set(s2))
common

{2}

47. Create a set of the first n triangular numbers.:

In [212]:
n = int(input("Enter the number: "))

triangular = set(((i * (i + 1)) // 2 for i in range(1, n + 1)))
triangular

Enter the number:  10

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

48. Check if a set contains another set as a subset.

In [214]:
s1 = {2, 31, 49, 50, 51, 54, 75, 76, 88, 2, 49, 51, 54,}
s2 = {2, 4, 6, 8, 10}
sub_set =s1.issubset(s2)
sub_set

False

49. Create a set of alternating 1s and 0s of length n.

In [215]:
n = int(input("Enter the number: "))
s1 = set(x%2 for x in range(1,n+1))
s1

Enter the number:  10

{0, 1}

50. Merge multiple sets into one.

In [218]:
s1 = {2, 31, 49, 50, 51, 54, 75, 76, 88, 2, 49, 51, 54,}
s2 = {2, 4, 6, 8, 10}
s3 = {"156", "148", "0", "25"}
merged = s1.union(s2,s3)
merged

{'0', 10, '148', '156', 2, '25', 31, 4, 49, 50, 51, 54, 6, 75, 76, 8, 88}